body {
  background: #eaf2f8;
}

.container {
  display: block;
  margin: 120px auto;
  max-width: 600px;
  text-align: center;
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings: ss "wdth" 100;
}
h1 {
  font-size: 40sspx;
}

.form-container {
  padding: 20px;
  margin-bottom: 30px;
}

form {
  display: flex;
}

.example {
  text-align: left;
  font-size: 12px;
  opacity: 0.6;
}
.prompt {
  padding: 20px;
  border-color: #d6dbdf;
  width: 80%;
  font-size: 16px;
  border-radius: 10px;
  line-height: 20px;
}

.submit {
  padding: 20px;
  margin-left: 10px;
  border-color: #d6dbdf;
  color: black;
  background: #7fb3d5;
  width: 20%;
  font-size: 16px;
  border-radius: 10px;
  line-height: 20px;
}

.poem {
  font-size: 16px;
  background-color: white;
  padding: 20px;
  line-height: 1.5;
  border-left: 3px solid #7fb3d5;
}

.poem strong {
  color: #7fb3d5;
}

a {
  color: #7fb3d5;
}

footer {
  font-size: 10px;
  margin-top: 20px;
  padding: 30px;
}
